/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #222;
    padding: 1rem;
}

.footer a {
    color: #222;
}

.footer .social {
    display: flex;
    font-size: 3rem;
    gap: 1rem;
}
