.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav-toggle {
    display: none;
}

$standard-font-size: 1rem;

@media (max-width: 767px) {    
    body {
        font-size: $standard-font-size * 0.9;
    }
    
    .main {
        padding: 0.8rem;
    }
    
    .header {
        flex-direction: column;
    }

    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .landingpage, .technology-grid {
        grid-template-columns: 1fr;
    }

    .landingpage h1 {
        grid-column: span 1;
    }

    .box {
        grid-column: span 1;
    }

    .technology-page {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .content {
        padding: 2em;
    }
}
