{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            <div class="analysis-grid">
                <h1 class="landingpage-title">Analysis</h1>
                <div class="box">
                    <a href="{{ 'analysis/01_colors'|link }}">Colors</a>
                </div>
                <div class="box">
                    <a href="{{ 'analysis/02_load'|link }}">Load</a>
                </div>
                <div class="box">
                    <a href="{{ 'analysis/03_design_principles'|link }}">Design principles</a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
