{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="analysis-page">
        <main class="content">
            {{ content }}
        </main>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>